body{
    background-image: url(../images/bananas.png);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    text-align: center;
}

#gameContainer{
    display: inline-block;

    background-color: rgba(213, 191, 232, 0.8);

    padding: 0px 2em;
    padding-top: 1em;
}

#questionContainer{
    background-color: #bfa0db;

    margin: 1em;
    padding: 0.5em;
}

#category{
    font-size: 1.2em;
    font-weight: bold;

    margin-bottom: 0.8em;
}

#question{
    margin-bottom: 1em;
}

#timer{
    margin-top: 1em;
    font-size: 1.5em;
    color: tomato;
}

.q{
    margin-top: 0.5em;
}

.q:hover{
    color: mediumvioletred;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

ul{
    text-align: left;
}

li{
    list-style-type: circle;
    margin-left: 2em;
}